<!DOCTYPE html>
<html>
    <head>
        <title>Looping</title>
    </head>
    <body>
        <h1>EJS LOOPING TEST</h1>
        <% for(let element:arrs) {%>
        <li><%= element %> </li>
        <% } %> 
    </body>
</html>