<!DOCTYPE html>
<html>
    <head>
        <title>Looping</title>
    </head>
    <body>
        <h1>EJS LOOPING TEST</h1>
    <ul>
        <% for(let element of arr) { %>
        <li><%= element %> </li>
        <% } %>
    </ul> 
    </body>
</html>